################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Then fucked with by TheTimesweeper c:

.vs/
bin/
obj/
#*.csproj we're finally not retarded anymore
#and by we i mean me it was completely me

# this was when .gitignore was in root folder, but now it is in the EnforcerMod_VS
# EnforcerMod_VS/bin/
# EnforcerMod_VS/obj/
# EnforcerMod_VS/Enforcer.csproj